/* 全局重置 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.3);
  border-radius: 3px;

  &:hover {
    background-color: rgba(144, 147, 153, 0.5);
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
